:root {
    --background-color: rgb(21, 21, 33);

    --main-color: #1295c1;
    --second-color: #C19512;
    --third-color: #12C195;
}


* {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    color: white;
    margin: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;     /* Centers vertically across the cross axis */

}

/* the top part of the page */
.top-part {
    width: 100%;
    color: white;
    position: relative;
    background: url(images/zorin-os-dark-ly.jpg);
    background-size: cover;
    background-attachment: fixed;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 1000px;
}

/*
.fade-overlay {
    inset: 0;
    position: absolute;
    mask-image: linear-gradient(to top, black 0%, transparent 5%);
    backdrop-filter: blur(10px);
    background: linear-gradient(to top, var(--background-color) 0%, transparent 100%);
}


/* the body part */

.main-part {
    position: sticky;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 250px;
    margin-bottom: 500px;
    grid-gap: 15px;

    grid-template-areas:
        "info info pfp"
        "info info smallerinfo"
        "lorem title title"
        "lorem pissmaninfo pissmaninfo"
        "pissmanpfp pissmaninfo pissmaninfo"
        "qandalink qanda qanda"
        "qandalink qanda qanda";
}



.widget {
    padding: 10px;
    transition: 0.6s ease-out;
    border: 5px solid var(--main-color);
    min-height: 00px;
    min-width: 00px;
    margin: 0px;
}
.widget:hover {
    transition: 0.3s ease-out;
    scale: 1.04 1.04;
}

/* a bunch of widgets */

.info {
    grid-area: info;
    border: 5px solid var(--third-color);
}

.pfpbox {
    padding: 0;
    grid-area: pfp;
}

.smaller-info {
    font-weight: 800;
    color: var(--second-color);
    font-size: 50px;
    grid-area: smallerinfo;
    border: 5px solid var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lorem {
    border: 5px solid var(--third-color);
    color: rgba(128, 128, 128, 0.75);
    grid-area: lorem;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: title;
}

.pissmaninfo {
    border: 5px solid var(--second-color);
    grid-area: pissmaninfo;
    text-align: center;
}

.pissmanpfp {
    border: 5px solid var(--second-color);
    grid-area: pissmanpfp;
}

.qandalink {
    border: 5px solid var(--third-color);
    grid-area: qandalink;
    text-align: center;
}

.qanda {
    border: 5px solid var(--main-color);
    grid-area: qanda;
    text-align: center;
}

/* buttons */

a {
    transition: border 0.5s ease-in-out;
    border: 0px solid var(--main-color);
    color: rgb(63, 178, 255);
    padding: 5px;

    &:hover {
        border:inherit;
    }
}

/* texts types */
.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 500px;
    font-size: 64px;
}

.title-mega {
  animation: glowing-text 3s infinite alternate;

  font-weight: 400;
  font-style: normal;
  transform: translate(0px, 10px);
  font-size: 128px;
  scale: 2.5 2.5;
  font-variation-settings:
    "wdth" 25;
  }

/* images like pfp and art */
.pfp {
    object-fit: contain;
    width: 100%;
}

@keyframes glowing-text {
    from {
        text-shadow: 0px 0px 10px rgba(255,255,255,0);
    }
    to {
        text-shadow: 0px 0px 10px rgba(255,255,255,0.4);
  }
}