:root {
    --background-color: rgb(21, 21, 33);

    --main-color: #1295c1;
    --second-color: #C19512;
    --third-color: #12C195;
    --fourth-color: #9512C1;

    --greyed-out-color: rgba(128, 128, 128, 0.65);
    --more-greyed-color: rgba(128, 128, 128, 0.15);
}


* {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    color: white;
    margin: 0;
    background-color: var(--background-color);
    background-image: url("images/background.svg");
    background-attachment: fixed;
    

    display: flex;
    flex-direction: column;
    align-items: center;     /* Centers vertically across the cross axis */

}

/* the top part of the page */
.top-part {
    width: 100%;
    color: white;
    position: relative;
    background: url(images/zorin-os-dark-ly.jpg);
    background-size: cover;
    background-attachment: fixed;
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 1000px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    translate: 0 -300px;
    animation: review 1.5s cubic-bezier(0.175, 0.1, 0.32, 1.275);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.line {
  animation: line-expand 3s cubic-bezier(0.175, 0.1, 0.32, 2.2) !important;
  animation-iteration-count: 1 !important;
  animation-fill-mode: forwards !important;
  width: 0px;
  border: none; 
  height: 3px; 
  background-color: white;
}

/*
.fade-overlay {
    inset: 0;
    position: absolute;
    mask-image: linear-gradient(to top, black 0%, transparent 5%);
    backdrop-filter: blur(10px);
    background: linear-gradient(to top, var(--background-color) 0%, transparent 100%);
}


/* the body part */

.main-part {
    position: sticky;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 250px;
    margin-bottom: 500px;
    grid-gap: 15px;

    grid-template-areas:
        "info info pfp"
        "info info smallerinfo"
        "social gamesinfo gamesinfo"
        " - - -"
        "lorem title title"
        "lorem pissmaninfo pissmaninfo"
        "pissmanpfp pissmaninfo pissmaninfo"
        "vivaldicss vivaldicss lorem1"
        "a a a"
        "qandalink qanda qanda"
        "qandalink qanda qanda";
}



.widget {
    background-color: var(--background-color);
    box-shadow:5px 5px 0 rgba(0, 0, 0, 0.5);

    padding: 10px;
    transition: all 0.6s ease-out;
    border: 5px solid var(--main-color);
    min-height: 00px;
    min-width: 00px;
    margin: 0px;

    text-align: center;
}
.widget:hover {
    transition: 0.3s ease-out;
    scale: 1.04 1.04;
}

/* animate on shown */
.not-in-view-right {
    opacity: 0;
    transform: translateX(50);
}

.not-in-view-left {
    opacity: 0;
    transform: translateX(-50);
}


.is-in-view {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

/* a bunch of widgets */

.info {
    text-align: left;
    grid-area: info;
    border: 5px solid var(--third-color);
}

.pfpbox {
    background-color: var(--main-color);
    padding: 0;
    grid-area: pfp;
}

.smaller-info {
    font-weight: 800;
    color: var(--second-color);
    font-size: 50px;
    grid-area: smallerinfo;
    border: 5px solid var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social {
    display:flex;
    flex-direction: column;
    grid-area: social;
}

.gamesinfo {
    border: 5px solid var(--fourth-color);
    line-height: 15px;
    grid-area: gamesinfo;
}

.lorem {
    border: 5px solid var(--greyed-out-color);
    color: rgba(128, 128, 128, 0.75);
    grid-area: lorem;
}

.lorem1 {
    border: 5px solid var(--greyed-out-color);
    color: rgba(128, 128, 128, 0.75);
    grid-area: lorem1;
}

.title {
    border: 5px solid var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-area: title;
}

.pissmaninfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--second-color);
    grid-area: pissmaninfo;
    text-align: center;
}

.pissmanpfp {
    display:flex;
    align-items: end;
    flex-shrink: 10px;
    border: 5px solid var(--second-color);
    grid-area: pissmanpfp;
}

.pissmanpfp .pfp {
    width: 100px;
    scale: 1.7 1.7;
    translate: 10px -30px;
}

.pissmanpfp .pfp.pfpsmall {
    width: 85px;
    scale: 1 1;
    translate: 10px 0px;
}


.vivaldicss {
    grid-area: vivaldicss;
    border: 5px solid var(--fourth-color);
}




.qandalink {
    border: 5px solid var(--third-color);
    grid-area: qandalink;
    text-align: center;
}

.qanda {
    border: 5px solid var(--main-color);
    grid-area: qanda;
    text-align: center;
}

/* buttons */

a {
    background-color: var(--more-greyed-color);
    transition: all 0.5s ease-out;
    border: 2px solid var(--greyed-out-color);
    color: rgb(63, 178, 255);
    padding: 5px;
    margin: 3px;

    &:hover {
        border: inherit;
        padding: 3px;
        box-shadow:5px 5px 0 rgba(0, 0, 0, 0.5);
    }
}

/* texts types */
.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 500px;
    font-size: 64px;
}

.title-mega {
  animation: glowing-text 3s infinite alternate;

  font-weight: 400;
  font-style: normal;
  transform: translate(0px, 10px);
  font-size: 128px;
  scale: 2.5 2.5;
  font-variation-settings:
    "wdth" 25;
}




/* images like pfp and art */
.dropdown {
    width: 50px;
    filter: invert(100%);
    animation: dropdown 3s infinite alternate ease-in-out;
}

.pfp {
    object-fit: contain;
    width: 100%;
}

/* Animations */

@keyframes glowing-text {
    from {
        text-shadow: 0px 0px 10px rgba(255,255,255,0);
    }
    to {
        text-shadow: 0px 0px 10px rgba(255,255,255,0.4);
  }
}

@keyframes dropdown {
    from {
        translate: 0 -20px;
    }
    to {
        translate: 0 -10px;
    }
    
}


@keyframes review {
    from {
        translate: 0 -300px;
        opacity: 0;
    }
    to {
        translate: 0 0px;
        opacity: 1;
    }
    
}

@keyframes line-expand {
    from {
        width: 0;
    }
    to {
        width: 500px;
    }
}