body {
    background-color: #1a1a1a;
    color: white;
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
    font-family: "Noto Sans", sans-serif;


    --highlight-color: #b32c2c;
    --background: #333;
    --lightbackground: #555;
    --brightbackground: #666;
}

section {
    margin: 8px;
}


.navbar {
    z-index: 10;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  position: fixed;
  background: #333; 
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--highlight-color);
}

.navbaralt {
    top: 0;
    left: 0;
    right: 0;

  position: fixed;
  background: #333; 
  height: 25px;
}

.navbar > div > img {
    height: 52px;
    border-radius: 50%;
}

.navbar > div {
    display: flex;
    gap: 2px;
}

.navbar > div > a {
    display: block;
    background-color: rgba(255,255,255,0.1);
    padding: 16px;
    text-decoration: none;
    color: white;
    &:hover {
        background-color: var(--highlight-color);
    }
}

button {
    border: none;
    color: white;
    height: 2em;
    background-color: var(--lightbackground);
    &:hover {
        background-color: var(--brightbackground);
    }
}



.row {
    display: flex;
    justify-content: space-between;
}

li > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color:lightblue;
    text-decoration: underline;
    font-size: 1em;

    &:hover {
        color: lightpink;
    }
}

ul > h4 {
    line-height: 0;
}

iframe {
    border: solid 2px #333;
    height: 90vh;
    width: 50vw;
}
.document {
    align: center;
}


.homepage {
    background-image: url("images_kk/2026-01-17_16.34.47.png");
    background-position: center;
    height: 90vh;
    position: relative;
}

.inside {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 30%;
    right: 30%;

}




/* Wiki part */
.widget {
    overflow: hidden;
    background-color: var(--background);
    border-bottom: solid 2px var(--highlight-color);

    display: flex;
    position: relative;
    flex-direction: column;

    &:hover {
        background-color: var(--lightbackground);
        filter: brightness(125%);
    }
}

.widget > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overlay {
    width: 100%;
    height: 25%;
    padding-left: 8px;
    text-align: left;
    position: absolute;
    background: linear-gradient( rgba(0,0,0,1) 1%, rgba(0,0,0,0) 100%);
    line-height: 0;
}

.widget > span {
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    cursor: default;
    &:hover {
        background-color: rgba(255,255,255,0.3);
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-content: center;
    max-width: 820px;
    grid-auto-rows: 164px;
    align-self: center;

    grid-template-areas:
    "info info info info info"
    "wolfon WolftheE mannco South South"
    "kingstown Lonex southbase - -"
    "BambooBay BambooBay northfarms mandalay North"
    "Kralled kralledhuts gliath Jay CopperCove"
    "kyle kylehome northtrains uyuh iuhuih";


    margin: 0 auto;
    gap: 8px;
}

.info {
    grid-area: info;
}

.wolfon {
    grid-area: wolfon;
}

.mannco {
    grid-area: mannco;
}

.wolfthee {
    grid-area: WolftheE;
}

.kingstown {
    grid-area: kingstown;
}

.lonex {
    grid-area: Lonex;
}

.south {
    grid-area: South;
}

.mandalay {
    grid-area: mandalay;
}
.gliath {
    grid-area: gliath;
}

.northfarms {
    grid-area: northfarms;
}

.bamboobay {
    grid-area: BambooBay;
}

.north {
    grid-area: North;
}

.Kralled {
    grid-area: Kralled;
}
.kralledhuts {
    grid-area: kralledhuts;
}

.coppercove {
    grid-area: CopperCove;
}

.jay {
    grid-area: Jay;
}

.kyle {
    grid-area: kyle;
}

.kylehome {
    grid-area: kylehome;
}


/* wiki stuff */
.wikipopup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.wikipopup > iframe {
    height: 100%;
    width: 100%;
    background-color: white;
    
}

.wikisidebyside {
    overflow-x: hidden;
    gap: 16px;
    display: grid;
    grid-template-columns: 75% 25%;
    line-height: 0.7;
}


.wikisidebyside > * > img {
    width: 95%;
}